:root {
  --gray1: #eae6e6;
  --gray3: #bfbfbf;
  --gray4: #666;
  --mutedDate: #808080;

  --darkBlue: #002b49;

  --filtersBlue: #78d1ff;
  --hover-blue: #0085ca;

  --black1: #292929;

  --yellowCategory: #fac40b;
  --orange2: #cf7f00;
  --orange3: #be7a22;

  --darkBlueHome: #00244a;
  --white: #fff;

  /* Delete this later */
  --orange1: #df8e25;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: Helvetica Neue LT Std, Arial, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
