@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/HelveticaNeueLTStd-Roman.otf') format('opentype');
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/HelveticaNeueLTStd-lt.otf') format('opentype');
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/HelveticaNeueLTStd-Lt.otf') format('opentype');
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/HelveticaNeueLTStd-LtIt.otf') format('opentype');
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/HelveticaNeueLTStd-Md.otf') format('opentype');
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/HelveticaNeueLTStd-MdIt.otf') format('opentype');
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/HelveticaNeueLTStd-Bd.otf') format('opentype');
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/HelveticaNeueLTStd-Hv.otf') format('opentype');
}
@font-face {
	font-family: 'Helvetica Neue LT Std';
	font-style: italic;
	font-weight: 900;
	src: url('../fonts/HelveticaNeueLTStd-HvIt.otf') format('opentype');
}
/******************/
/* Font variables */
/******************/
/* $helveticaNeueLTstd: "Helvetica Neue LT Std", Helvetica, Arial, sans-serif; */
