.carousel1 .carousel-control-prev-icon,
.carousel1 .carousel-control-next-icon {
  display: none;
}

.carousel1 .carousel-indicators [data-bs-target] {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  color: orange;
  border: 3px solid orange !important;

  opacity: 1;
}
.carousel-indicators {
  //   bottom: -40px !important;
  margin-top: 10px;
}

.carousel-indicators .active {
  opacity: 0;
  background: orange !important;
}
